<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Inserting data into Access Record table using Forms</h1>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                
                <label for="topic">Topic Name : </label>
                <input type="text" name="topic" id="topic"><br>
                <br>
                <label for="names">Name : </label>
                <input type="text" name="names" id="names"><br>
                <br>
                <label for="date">Date : </label>
                <input type="date" name="date" id="date"><br>
                <br>
                <label for="author">Author</label>
                <input type="text" name="author" id="author"><br>
                <br>
                <input type="submit" value="Insert Record">
            </form>
        </div>
    </center>
</body>
</html>