<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserting data using HTML FORMS</title>
</head>
<body>
    <center>
        <h1>Taking data from FE using Forms</h1>
        <form action="" method="POST">
            {% csrf_token %}
            
            <label for="un">Username</label>
            <input type="text" name="un" id="un"><br>
            <br>
            <label for="pswd">Password</label>
            <input type="password" name="pswd" id="pswd"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>